services:
  victim-h2:
    build: ./node-app
    ports:
      - "443:443"
    deploy:
      resources:
        limits:
          cpus: '0.5'
  victim-flask:
    build: ./flask-app
    ports:
      - "8080:8080"
    deploy:
      resources:
        limits:
          cpus: '0.5'
