services:
  victim-h2:
    build: ./node-app
    ports:
      - "443:443"
    deploy:
      resources:
        limits:
          cpus: '0.5'
  victim-flask:
    build: ./flask-app
    ports:
      - "8080:8080"
    privileged: true 
    sysctls:
      - net.ipv4.tcp_syncookies=0
      - net.ipv4.tcp_max_syn_backlog=128 # Small backlog makes the attack visible faster
    deploy:
      resources:
        limits:
          cpus: '0.5'
